/*OVERALL STYLE FOR GAME SPACE*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url(images/dice.jpg);
	background-size: cover;
	background-position: cover;
	font-family: Comic Sans MS;
	font-weight: 300;
	color: #fff;

}

.game-panel-wrapper{
	/*border: 1px solid red;*/
	width: 1000px;
	height: 600px;
	position: absolute;
	top: 5%;
	left: 20%;
	box-shadow: 0px 10px 50px #8286E4;
    overflow: hidden;
    background-color: #676869;

}

.player-name-0-panel, .player-name-1-panel{
	/*border: 1px solid red;*/
	width: 500px;
	height: 600px;
	float: left;
	padding: 100px;

}


/*PLAYER 1 PANEL*/


.player-name{
	font-size: 50px;
	margin: 10px;
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
}

.player-total-score{
	font-size: 100px;
	font-weight: 100;
	margin-left: 90px;
	margin-bottom: 90px;

}

.active{
	background-color: #054B6D;
}

.active .player-name{
	color: #000;
}

.active .player-name::after{
	content: '\2022';
	position: relative;
	left: 20px;
	color: #24FA09;

	
}

.player-score-card{
	/*border: 1px solid red;*/
	width: 150px;
	background-color: #FCF009;
	padding: 10px;
	position: relative;
	left: 90px;
	bottom: 20px;
	text-align: center;
	
}

.player-current-label{
	font-size: 25px;
	margin-bottom: 15px;
	color: #fff;
}

.player-current-score{
	font-size: 75px;
	color: #000;

}

button{
	font-size: 25px;
	font-weight: 300;
	position: absolute;
	width: 200px;
	left: 50%;
	font-family: Comic Sans MS;
	color: #07DFFB;
	background: none;
    border: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
    transform: translateX(-50%);

}

button:hover{
	word-spacing: 10px;
}

.btn-hold:hover{
	letter-spacing: 5px;
}

button:hover i{
	margin-left: 10px;
}

button:focus {
    outline: none;
}

.btn-new-game{
	top: 40px;
}

.btn-roll-dice{
	top: 500px;
}
.btn-hold{
	top: 550px;
}

i{
	color: #07DFFB;
	margin-right: 10px;
    transition: margin 0.3s;

}

@media screen and (min-width: 1200px) and (max-width: 1536px) {

.dice{
	height: 100px;
	position: relative;
	bottom: 300px;
	left: 500px;
    transform: translateX(-50%);
    box-shadow: 20px 10px 80px 10px #fff;
    border-radius: 15px;
}
}

.winner{
	background-color: #2F72AF;
	color: #000;
	
}

.rules{
/*    border: 1px solid red;*/
	position: relative;
	color: #07DFFB;
	font-size: 20px;
    width: 300px;
    margin-top: 20px;
}

/*FOR INPUT FIELD*/

.targetScore{
	position: absolute;
	top: 640px;
	left: 55%;
	transform: translateX(-50%);
	font-size: 15px;
	color: #000;
	font-family: Comic Sans MS;
	width: 230px;
	height: 30px;
	text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
 .game-panel-wrapper{
	/*border: 1px solid red;*/
	width: 450px; 
	height: 450px;
    transform: translate(-17%, 10%);
	box-shadow: 0px 10px 50px #8286E4;
/*    overflow: hidden;
    background-color: #BEE2F3;*/
}  
    
.player-name-0-panel, .player-name-1-panel{
/*	border: 1px solid red;*/
	width: 225px;
	height: 450px;
	padding: 50px;

}
 
/*PLAYER 1 PANEL*/
    
.player-name{
	font-size: 40px;
	margin: 5px;
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
}

.player-total-score{
/*    border: 1px solid red;*/
    position: relative;
    top: 20px;
	font-size: 80px;
	font-weight: 100;
	margin-left: 5px;
	margin-bottom: 0px;
    text-align: center;
}

.player-score-card{
	/*border: 1px solid red;*/
	width: 100px;
    height: 100px;
	background-color: #FCF009;
	padding: 5px;
	position: relative;
	left: 15px;
	top: 60px;
	text-align: center;
	
}

.player-current-label{
	font-size: 20px;
	margin-bottom: 5px;
	color: #fff;
}

.player-current-score{
	font-size: 30px;
	color: #000;

}

button{
	font-size: 15px;
	font-weight: 300;
	position: absolute;
	width: 70px;
	font-family: Comic Sans MS;
	color: #000;
	background: none;
    border: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

button:active{
	word-spacing: 10px;
}

.btn-hold:active{
	letter-spacing: 5px;
}

button:active i{
	margin-left: 10px;
}

button:active {
    outline: none;
}

.btn-new-game{
	top: 40px;
    
}

.btn-roll-dice{
    top: 350px;
}
.btn-hold{
	top: 300px;
}

i{
	color: #07DFFB;
	margin-right: 5px;
    transition: margin 0.3s;

}

.dice{
	height: 50px;
	position: relative;
    bottom: 240px;
	transform: translate(400%);
    box-shadow: 20px 10px 80px 10px #fff;
    border-radius: 15px;
}

.winner{
	background-color: #2F72AF;
	color: #000;
}

.rules{
 /*   border: 1px solid red;*/
	position: relative;
	color: #fff;
	font-size: 15px;
    width: 400px;
    height: 210px;
    margin-top: 60px;
    transform: translate(13%, 240%);
}
    
.targetScore{
	position: absolute;
	top: 530px;
	left: 55%;
	transform: translateX(-50%);
	font-size: 15px;
	color: #000;
	font-family: Comic Sans MS;
	width: 230px;
	height: 30px;
	text-transform: uppercase;
}


}