@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=JetBrains+Mono:wght@100&display=swap');
*{
	margin: 0;
	padding: 0;
}


body {
   font-weight: 300;
   font-size: 20px;
/*  	background-color: brown;	*/
 
}

.container{
/*	  	background-color: pink;	*/
	display: flex;

}

.sidebar{
	background-color: cyan;	
	width: 434px;
	height: 100vh;
	font-family: 'JetBrains Mono', monospace;
	/*border: 1px solid red;*/
	
}
.sidebar ul{
	padding: 40px;
	margin: 25px 0;
/*	border: 1px solid red;*/
   
}
.sidebar li{
	list-style: none;
	padding: 20px 0;
	margin: 35px 20px;
   font-size: 25px;
/*	border: 1px solid red;*/
}
.sidebar li a{
	   text-decoration: none;

}
.main{
	width: 90vw;
/*	background-color: brown;*/

}

.about{
width:80vw;
	height:60vh;
	margin: 110px auto;
	display: flex;
	justify-content: space-around;
	font-family: 'JetBrains Mono', monospace;
/*	background-color: green;*/

}


.infoText{
	display: flex;
	flex-direction:column;
	justify-content: center;
	margin: 0 20px;
/*	background-color: grey;*/

}
.hello{
	font-size: 60px;
}
.name{
	font-size: 50px;
	font-weight: bold;
	font-family: 'Fira Sans', sans-serif;
}
.desc{
	font-size: 40px;
	margin: 15px 0;
	
}
.ctas{
	margin: 34px 0;	
}
.ctas button{
    padding: 15px 17px;
    border-radius: 18px;
    background-color: cyan;
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 11px;
    cursor: pointer;

}
.ctas button:hover{
    background-color: red;
    color: cyan;

}

.infoPic img{
/*	border: 1px solid red;*/
	height:60vh; 
}

/*skills*/
.myskills{
	width:70vw;
	margin: 110px 20px;
	font-family: 'JetBrains Mono', monospace;
/*	border: 1px solid red;*/

}
.myskills h2{
	margin: 30px auto;
}

.skillContainer{
	display: flex;
	flex-direction: row;
	margin: 10px auto;

}
.skills{
	margin: 20px auto;
	font-family: 'Fira Sans', sans-serif;

}
.skills img{
	height:120px;
	margin: 0 10px;

}

/*work*/
.projectSpace{
    background-color: green;
	width:70vw;
	margin: 110px 20px;
	font-family: 'JetBrains Mono', monospace;
}
.projectSpace h2{
	margin: 30px auto;	
}
.project{
	width:30vw;
	height: 30vh;
	border: 10px solid red;
	border-radius: 5px;

}
.project img{
	width:20vw;
	height: 20vh
}

	margin: 30px auto;
    background-color: red;
	width:70vw;
	margin: 110px 20px;
	font-family: 'Fira Sans', sans-serif;

}


/*contact
.contactForm{
	font-family: 'Fira Sans', sans-serif;
	padding: 0 10px;
	padding-top: 100px;

}

.contactForm h1{
	font-family: 'JetBrains Mono', monospace;
	padding: 15px 1px;
}

.contactForm form div{
	padding: 10px 2px;
	display: flex;
	flex-direction: column;
}
.contactForm form input{
    width: 30vw;
    height: 2em;
    border-radius: 6px;
	font-size: 20px;
		margin: 15px 0px;
}

#emailHelp{
	font-size:11px;
	color:midnightblue;
	font-weight: bold;
}

#form-check{
	flex-direction: row;

}
#isClient{
width:20px;
   margin: 0 13px;	

}

.btn{
 padding: 15px 22px;
    border-radius: 18px;
    background-color: cyan;
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin: 2px 2px;
    cursor: pointer;

}
.btn:hover{
    background-color: red;
    color: cyan;

}	
*/



	

