@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=JetBrains+Mono:wght@100&family=Source+Code+Pro:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
}


body {
   font-weight: 300;
   font-size: 20px;
/*  	background-color: brown;	*/
 
}

.container{
/*	  	background-color: pink;	*/
	display: flex;

}

.sidebar{
	background-color: cyan;	
	width: 234px;
	height: 100vh;
	font-family: 'JetBrains Mono', monospace;
	/*border: 1px solid red;*/
	
}
.sidebar ul{
	padding: 10px;
	margin: 25px 0;
/*	border: 1px solid red;*/
   
}
.sidebar li{
	list-style: none;
	padding: 20px 0;
	margin: 35px 20px;
   font-size: 25px;
/*	border: 1px solid red;*/
}
.sidebar li a{
	   text-decoration: none;
	padding: 20px 10px;

}
.sidebar li a:hover{
	width: 100px;
	background-color:#fff;
	padding: 20px 10px;
	border: 0px solid #fff;
	border-radius:7px;
	transition: all 700ms ease;
}
.main{
	width: 90vw;
/*	background-color: brown;*/

}

.about{
	width:80vw;
	height:60vh;
	margin: 110px auto;
	display: flex;
	justify-content: space-around;
	font-family: 'JetBrains Mono', monospace;
}


.infoText{
	display: flex;
	flex-direction:column;
	justify-content: center;
	margin: 0 20px;

/*	background-color: grey;*/

}
.hello{
	font-size: 60px;
}
.name{
	font-size: 50px;
	font-weight: bold;
	font-family: 'Source Code Pro', monospace;
}
.desc{
	font-size: 40px;
	margin: 15px 0;
	
}
.ctas{
	margin: 34px 0;	
}
.btn{
   padding: 15px 12px;
   border: 2px solid black;    
   border-radius: 18px;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 20px;
    cursor: pointer;
   box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.9);
	font-family: 'Fira Sans', sans-serif;

}

.project a{
    position: relative;
    bottom: 150px;
    left: 20px;
    margin: 0 5px;

}
.btn:hover{
   box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.9);
   border: 2px solid red;    
    background-color: #000;
    color: #fff;
    font-weight: bold;
    
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease
}
.basic{
	 position: relative;
	 bottom: 10px;
	 left: 1px;   
	 margin: 0;

}

.infoPic img{
/*	border: 1px solid red;*/
	height:70vh; 
}

/*skills*/
.myskills{
	width:70vw;
	margin: 70px 20px;
	font-family: 'JetBrains Mono', monospace;

}
.myskills h2{
	margin: 30px auto;
    font-size: 50px;
    font-family: 'Source Code Pro', monospace;
}

.skillContainer{
	display: flex;
	flex-direction: row;
	margin: 10px auto;

}
.skills{
	margin: 20px auto;
	font-family: 'Fira Sans', sans-serif;

}
.skills img{
	height:120px;
	margin: 0 10px;

}

/*work*/
.projectContnainer{
	display: flex;

}
.projectSpace{
/* 	border: 1px solid red;*/
/*   background-color: green;*/
	width:80vw;
	margin: 70px 20px;
	font-family: 'JetBrains Mono', monospace;
}
.projectSpace h2{
font-size: 50px;
    font-family: 'Source Code Pro', monospace;
	margin: 30px auto;	
}
.project{
	width:25vw;
	height: 30vh;
	border: 5px solid red;
	border-radius: 7px;
	margin: 10px;
}
.project img{
	width:25vw;
	height: 30vh;
	 filter: blur(2px);
	z-index: -1;
}
.projectContnainer h3{
font-size: 22px;
    font-family: 'Source Code Pro', monospace;
	margin: 10px 0;	

}

	margin: 30px auto;
    background-color: red;
	width:70vw;
	margin: 110px 20px;
	font-family: 'Fira Sans', sans-serif;

}


/*contact
.contactForm{
	font-family: 'Fira Sans', sans-serif;
	padding: 0 10px;
	padding-top: 100px;

}

.contactForm h1{
	font-family: 'JetBrains Mono', monospace;
	padding: 15px 1px;
}

.contactForm form div{
	padding: 10px 2px;
	display: flex;
	flex-direction: column;
}
.contactForm form input{
    width: 30vw;
    height: 2em;
    border-radius: 6px;
	font-size: 20px;
		margin: 15px 0px;
}

#emailHelp{
	font-size:11px;
	color:midnightblue;
	font-weight: bold;
}

#form-check{
	flex-direction: row;

}
#isClient{
width:20px;
   margin: 0 13px;	

}

.btn{
 padding: 15px 22px;
    border-radius: 18px;
    background-color: cyan;
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin: 2px 2px;
    cursor: pointer;

}
.btn:hover{
    background-color: red;
    color: cyan;

}	
*/



	

